<% if signed_in? %>
    <div class="row">
      <aside class="span3">
        <section>
          <%= render 'shared/borrow_form' %>
        </section>
      </aside>
      <div class="span9">
        <section>
          <%= render 'shared/current_record' %>
        </section>
      </div>
    </div>
<% else %>
    <div class="center hero-unit">
      <h1>Welcome to</br>Crowne Plaza Library</h1>

      <h2>
        Please <%= link_to "Sign In", signin_path %>
      </h2>

    </div>

    <%= link_to image_tag("crowne_plaza.gif", alt: "Crowne Plaza"),
                'http://www.ichotelsgroup.com/crowneplaza/hotels/cn/zh/xian/siazq/hoteldetail' %>
<% end %>