<% if signed_in? %>
    <div class="row">
      <aside class="span4">
        <section>
          <h3>Some Useful Info will be Here!</h3>
        </section>
      </aside>
      <div class="span8">
        <h3>Borrow Info will be Here!</h3>
      </div>
    </div>
<% else %>
    <div class="center hero-unit">
      <h1>Welcome to</br>Crowne Plaza Lib</h1>

      <h2>
        Please Sign In
      </h2>

    </div>

    <%= link_to image_tag("crowne_plaza.gif", alt: "Crowne Plaza"),
                'http://www.ichotelsgroup.com/crowneplaza/hotels/cn/zh/xian/siazq/hoteldetail' %>
<% end %>