<% provide(:title, 'All readers') %>
<h1>All readers</h1>

<%= link_to "Register New Reader", new_reader_path,
            class: "btn btn-large btn-primary" %>

<%= will_paginate %>

<table class="table-bordered table-striped">
  <tr>
    <th class="span6">Reader</th>
    <th class="span6">Status</th>
  </tr>
  <%= render @readers %>
</table>

<%= will_paginate %>
