<%= provide(:title, 'Register Reader') %>
<h1>Register Reader</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@reader) do |f| %>
        <%= render 'fields', f: f %>
        <%= f.submit "Create reader", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>