<% provide(:title, 'All books') %>
<h1>All books</h1>

<%= link_to "Add New Book", new_book_path,
            class: "btn btn-large btn-primary" %>

<%= will_paginate %>

<table class="table-bordered table-striped">
  <thead>
  <tr>
    <th class="span4">Book</th>
    <th class="span4">SN</th>
    <th class="span4">Status</th>
  </tr>
  </thead>
  <tbody>
  <%= render @books %>
  </tbody>
</table>

<%= will_paginate %>
