<% provide(:title, 'All books') %>
<h1>All books</h1>

<%= link_to "Add New Book", new_book_path,
            class: "btn btn-large btn-primary" %>

<%= will_paginate %>

<ul class="books">
  <%= render @books %>
</ul>

<%= will_paginate %>
